/part07-Part07_01.LiquidContainers/target/
/part07-Part07_02.LiquidContainers2/target/
/part07-Part07_03.Sorting/target/
/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/part07-Part07_05.Searching/target/
/part07-Part07_06.GradeStatistics/target/
/part07-Part07_07.RecipeSearch/target/
/part07-Part07_08.BigYear/target/
